<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <header>

        <div class="nav">
            <div class="nav-items">
                <ul>
                    </li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/login">ContactUs</a></li>
                </ul>
            </div>
            
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer></footer>
</body>
</html>